<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Current Car</title>
</head>
<body>
    <a href="/cars">Back to Car Collection</a>
    <h1><%=car.make %> <%= car.model %></h1>
    <% if (car.isFast) { %>
        <p>This Car is Built for Speed</p>
        <% } else { %>
            <p>This Car is slow!</p>
            <% } %>

 <form method="POST" action="/cars/<%= car._id%>?_method=DELETE">
    <button type="submit">Delete Car</button>

 </form>  

 <button type="submit"><%= car.name %> <a href="/cars/<%= car._id %>/edit">Edit Car<%= car.name %></a> </button>
 
</body>
</html>



</body>
</html>